[submodule "demo-ntt-ts-sdk"]
	path = demo-ntt-ts-sdk
	url = https://github.com/wormhole-foundation/demo-ntt-ts-sdk
	branch = main
[submodule "demo-ntt-connect"]
	path = demo-ntt-connect
	url = https://github.com/wormhole-foundation/demo-ntt-connect
	branch = main
[submodule "demo-wormhole-messaging"]
	path = demo-wormhole-messaging
	url = https://github.com/wormhole-foundation/demo-wormhole-messaging.git
	branch = main
[submodule "demo-cross-chain-token-transfer"]
	path = demo-cross-chain-token-transfer
	url = https://github.com/wormhole-foundation/demo-cross-chain-token-transfer.git
	branch = main
[submodule "demo-queries-ts"]
	path = demo-queries-ts
	url = https://github.com/wormhole-foundation/demo-queries-ts.git
	branch = main
[submodule "demo-cctp-transfer"]
	path = demo-cctp-transfer
	url = https://github.com/wormhole-foundation/demo-cctp-transfer
	branch = main
[submodule "demo-basic-connect"]
	path = demo-basic-connect
	url = https://github.com/wormhole-foundation/demo-basic-connect
	branch = main
[submodule "demo-basic-ts-sdk"]
	path = demo-basic-ts-sdk
	url = https://github.com/wormhole-foundation/demo-basic-ts-sdk.git
	branch = main
[submodule "demo-solana-multisig-tools"]
	path = demo-solana-multisig-tools
	url = https://github.com/wormhole-foundation/demo-ntt-solana-multisig-tools.git
[submodule "demo-metaplex-metadata"]
	path = demo-metaplex-metadata
	url = https://github.com/wormhole-foundation/demo-metaplex-metadata.git
	branch = main
[submodule "demo-vaa-signature-replacement"]
	path = demo-vaa-signature-replacement
	url = https://github.com/wormhole-foundation/demo-vaa-signature-replacement.git
	branch = main
[submodule "demo-mayanswift"]
	path = demo-mayanswift
	url = https://github.com/wormhole-foundation/demo-mayanswift.git
	branch = main
[submodule "demo-ntt-token-mint-authority-transfer"]
	path = demo-ntt-token-mint-authority-transfer
	url = https://github.com/wormhole-foundation/demo-ntt-token-mint-authority-transfer
	branch = main
[submodule "demo-wormholescan-api"]
	path = demo-wormholescan-api
	url = https://github.com/wormhole-foundation/demo-wormholescan-api.git
	branch = main
